@CHARSET "EUC-KR";

a:link {
	color : #A4C3FF;
}
a:visited {
	color : #0078FF;
}
a:hover {
	color : #FF1493;
}
nav#myp_title {
	margin : 15px 20px 0 30px;
	width : 85%;
}
#box1, #box2, #box3, #box4 {
	font-family: "Times New Roman", Times, '맑은 고딕';
	font-weight : bold;
}

div#box1{
	float : left;
	margin : 60px 60px 10px 140px;
}
div#box2{
	float : left;
	margin : 60px 130px 10px 70px;
}
div#box3{
	float : left;
	margin : 60px 60px 30px 140px;
}
div#box4{
	float : left;
	margin : 60px 130px 30px 70px;
}


div#passAcc{
	position : absolute;
	top : 280px;
	left : 422px;
}
div#pass_submit{
	position : relative;
	left : 40px;
}
div#updt_info{
	position : absolute;
	top : 130px;
	left : 375px;
}
div#point_list{
	position : absolute;
	top : 165px;
	left : 210px; 
}
html,*{
   margin: 0;
   padding: 0;
}
header{
   background-color: #303C43;
   padding-top: 10px;
   padding-bottom: 7px;
}

.header_menu_ul {
   list-style: none;
}

.menu{
   display:inline; 
   padding:0 160px;    
   color: white;
   
}

.hd_mn_ul_li_span {
   color: white;
}

.header_search {
   width: 100%;
   height: 35px;
   text-align: center;
}

table#member_info{
	background-color: #0A6E0A;
	padding : 0px 0px 0px 75px;
}
table#myPlaylist{
	background-color : #5D8A5D;
	padding : 10px 0px 10px 75px;
}
table#myMusic{
	background-color : #5F9EA0;
	padding : 10px 0px 10px 75px;
}
table#myPoint{
	background-color : #1DD1AD;
	padding : 10px 0px 10px 75px;
}
/*
 버스킹 관련 페이지 스타일 설정
*/
div#left_sec {
	float : left;
	width : 450px;
}
div#right_sec {
	float : left;
	width : 450px;
}
nav#title1 {
	margin : 5px 0 30px 20px;
	width : 80%;
}
nav#title2 {
	margin : 30px 20px 30px 20px;
	width : 80%;
}
table#chart1 {
	margin : 0 0 50px 40px;
	font-size : smaller;
}
table#chart2 {
	margin : 0 0 50px 40px;
	font-size : smaller;
}



 /* 
 여기부터 각 곡, 앨범들 페이지 관련 스타일 설정 
 */

div#song1 {
	margin : 24px 40px 0 50px;
	font-size : small;
	border-style : solid 1px;
}
div#movie_link, div#album_intro {
	margin : 24px 40px 0 60px;
	font-size : small;
	border-style : solid 1px;
}
div#lyrics, div#tracklist_bottom, div#tracklist {
	margin : 25px 40px 15px 50px;
}
div#lyrics_main {
	padding : 0 0 0 18px;
}
div#tracklist_head, div#bottom_btn {
	padding : 10px 0px 10px 10px;
}
table#list {
	font-size : small;
}
nav#album_info, nav#movie, nav#introduce {
	margin : 24px 40px 0 50px;
}
#info1, #info2 {
	float : left;
}
#info1 {
	margin : 0 30px 0 0;
}
hr{
	clear : both;
}
p#about{
	text-align : center;
	padding : 80px 0 50px 0;
}

table#foot1 {
	text-align : center;
	font-size : smaller;
	margin : 15px 0 10px 10px;
}
table#foot2 {
	text-align : center;
	font-size : smaller;
	margin : 5px 0 100px 0;
}
div#footer {
	float : left;
	
}