* {
	box-sizing: border-box;
}

/*
	전 페이지의 링크, 방문 흔적, 호버링 시 설정
*/

a:link {
	color : #A4C3FF;
}
a:visited {
	color : #0078FF;
}
a:hover {
	color : #FF1493;
}

/*
	마이페이지 메인의 스타일 설정
*/
nav#myp_title {
	float : left;
	margin : 15px 20px 0 30px;
	width : 90%;
}
#box1, #box2, #box3, #box4 {
	font-family: "Times New Roman", Times, '맑은 고딕';
	font-weight : bold;
}
.button1, .button2, .button3, .button4 {
	font-size : 20px;
	text-align : center;
	cursor : pointer;
	outline : none;
	color : #fff;
	background-color : #4CAF50;
	border : none;
	border-radius : 15px;
	box-shadow : 0 9px #999;
}
.button1:hover, .button2:hover, .button3:hover, .button4:hover {background-color : #3e8e41}

.button1:active, .button2:active, .button3:active, .button4:active {
	background-color : #3e8e41;
	box-shadow : 0 5px #666;
	transform : translateY(4px);
}
.button1 {
	float : left;
	margin : 30px 20px 10px 80px;
	padding : 30px 50px;
}
.button2 {
	float : left;
	margin : 30px 120px 10px 20px;
	padding : 30px 50px;
}
.button3 {
	float : left;
	margin : 30px 20px 30px 80px;
	padding : 30px 50px;
}
.button4 {
	float : left;
	margin : 30px 120px 30px 20px;
	padding : 30px 50px;
}

/*
	회원정보 변경 관련 스타일 설정
*/
div#passAcc{
	float : left;
	margin : 20% 40%;
}

div#updt_info{
	float : left;
	margin : 20% 40%;
}

html,*{
   margin: 0;
   padding: 0;
}






/*
	FOOTER 관련 스타일 설정 (공통)

hr{
	clear : both;
}
p#about{
	text-align : center;
	padding : 80px 0 50px 0;
}

table#foot1 {
	text-align : center;
	font-style : san-serif;
	font-size : smaller;
	margin : 15px 0 10px 10px;
}
table#foot2 {
	text-align : center;
	font-size : smaller;
	margin : 5px 0 100px 0;
}
div#footer {
	margin : auto;
}
*/