@CHARSET "UTF-8";

.num {
   width: 100%;

}
li{
   font: 13px arial, sans-serif;
}
#not{
   color: #ec0000;
   font-weight: bold;
}
#writer, #date{
   float: right;
}
#최신가요 {
   
   list-style: none;
   float: left;
   background: #bfcde3;
   width: 21%;
   height: 300px;
   padding: 2%;
}

#인기가요 {
   list-style: none;
   float: left;
   background: #fae181;
   width: 21%;
   height: 300px;
   padding: 2%;
}

#버스킹 {
   list-style: none;
   float: left;
   background: #edc5fc;
   width: 21%;
   height: 300px;
   padding: 2%;
}

#게시판 {
   list-style: none;
   float: left;
   background: #a3b6d7;
   width: 21%;
   height: 300px;
   padding: 2%;
}