@CHARSET "UTF-8";

.dropbtn {
	background-color: #303C43;
    padding: 3px;
    font-size: 16px;
    border: none;
    opacity: 0%;

}

.dropmenu{
	font-color: black;
	font-size: 16px;
	border: center;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #232323;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d4d4d4;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
