@CHARSET "UTF-8";
html,*{
   margin: 0;
   padding: 0;
}
header{
   background-color: #303C43;
   padding-top: 10px;
   padding-bottom: 7px;
}

.header_menu_ul {
   list-style: none;
}

.menu{
   display:inline; 
   padding: 13%;    
   color: white;
}
.hd_logo{
   margin: auto;
}

.header_search {
   width: 100%;
   height: 35px;
   text-align: center;
}
