@CHARSET "UTF-8";

html, * {
	margin: 0;
	padding: 0;
}

header {
	background-color: #303C43;
}

.header_menu_ul {
	display: flex;
}

.menu {
	list-style: none;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: 13%;
	margin-right: 13%;
	margin: auto;
}

.logo_search {
	display: inline;
	list-style: none;
	text-align: center;
}

#myBtn {
	background-color: #303C43;
	border: none;
	color: white;
	padding: 2px 6px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 3px 2px;
	cursor: pointer;
	float: center;
}